# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# large media files (served via Mux)
public/*.mp4
public/*.mov

# original high-res images (replaced by WebP)
public/solklart-installation-skargard.jpg
"public/mika-wegelius-sgGtWaQz_ro-unsplash.jpg"
public/IMG_20201016_172739.jpg
public/sungrow-SG8.0-inverter
